Source: ros-lyrical-yaets
Section: misc
Priority: optional
Maintainer: "Francisco Martín Rico" <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-python-cmake-module, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/yaets/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-yaets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ros-workspace
Description: This package provides a execution tracing library.
