Source: ros-jazzy-yaets
Section: misc
Priority: optional
Maintainer: "Francisco Martín Rico" <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/yaets/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-yaets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-matplotlib, ros-jazzy-ros-workspace
Description: This package provides a execution tracing library.
