Source: ros-kilted-yaets
Section: misc
Priority: optional
Maintainer: "Francisco Martín Rico" <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-ros-workspace
Homepage: https://index.ros.org/p/yaets/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-yaets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-matplotlib, ros-kilted-ros-workspace
Description: This package provides a execution tracing library.
